isBase64 method wrong validation!

this method [ isBase64 ] is showing incorrect results. In below image.

![Capturewewe](https://user-images.githubusercontent.com/17881842/73245001-2ce96c00-41e6-11ea-844d-7fa7c29d5102.PNG)



Thanks for reaching raising the issue @KInGATiLLa. 
I will do more investigation on the issue here. 
Also, other people can do more investigation here.

Why should "1111" not be considered a valid base64 value? Looking at the implementation and the [rfc 4648](https://tools.ietf.org/html/rfc4648) I can't see why it should be the case. 

@profnandaa @ezkemboi i tried to reproduce the issue and that is correct. The string "1111" actually passes the validation which is bizzare. I can do a PR on this shortly if you like

@rubiin -- sure, please do.

@profnandaa The string "1111" is a valid base64 and actually resolves to a string.

The string "" is valid base64 (see first example https://tools.ietf.org/html/rfc4648#section-10) but isBase64("") returns false.

I agree with @parasg1999. According to [section 4 of RFC 4648](https://tools.ietf.org/html/rfc4648#section-4) (at the bottom of page 5) the following case applies which implies, that `1111` is valid base64 (with each 1 representing 6 bits of the encoded data resulting in 24bits = 3 bytes of data):

>   (1) The final quantum of encoding input is an integral multiple of 24
>       bits; here, the final unit of encoded output will be an integral
>       multiple of 4 characters with no "=" padding.

I suggest closing this issue.


Please reopen, been having constant issues with this validator too, to the point of it not being usable for any serious project. I recommend incorporating Jest or Vitest into each validator to put them through multiple testing scenarios before releasing broken versions.

@s1nistr4 can you give an example where `isBase64` misbehaves?